body {
    margin: 0px;
    background-image: url("tile_background.png");
}

.nav {
    background-color: #687EFF;
    display: flex;
    box-shadow: 0px 1px #0076a1b7;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Cascadia Code SemiBold", Gadget, sans-serif;
}

.goalStyle {
    background-color: #687EFF;
    border-radius: 10px;
}

.goalStyle:hover {
    background-color: rgb(21, 197, 185);
    transition: 0.8s;
}

.logo {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white !important;
    padding: 14px 100px;
}

.aboutStyle {
    background-color: #687EFF;
    border-radius: 10px;
}

.aboutStyle:hover {
    background-color: rgb(21, 197, 185);
    transition: 0.8s;
}

.main {
    background-color: rgb(152, 228, 255);
    margin-left: 15%;
    width: 70%;
    box-shadow: 0px 20px 20px 0px #004b668e;
    border-radius: 5PX;
    font-family: "Cascadia Code SemiBold", Gadget, sans-serif;
    color: rgb(57, 79, 206);
    margin-top: 1px;
    text-align: center;
    font-size: 18px;
}

.data {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}


.goalDiv {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.goalDiv-content {
    background-color: rgb(104, 126, 255);
    margin: auto;
    padding: 20px;
    color: white;
    width: 80%;
    border-radius: 8px;
    font-family: "Cascadia Code SemiBold", Gadget, sans-serif;
}


.close,
.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;


}

.close:hover,
.close:focus,
.close1:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;

}

hr {
    border: none;
    border: 1px solid white;
}

/* content */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tbl {
    margin: auto !important;
}

.btn {
    margin: auto !important;
    padding-top: 1%;
    padding-bottom: 2%;
}

/* content */

/* table */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    background-image: linear-gradient(#80B3FF 0, #687EFF 100%);
    border-radius: 1em;
    border-collapse: collapse;
    margin: 1em;
    width: 1000px;
}

th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: linear-gradient(92.83deg, rgb(21, 197, 185) 0%, #31b9eb 100%);
}

/* table */



/* checkboxes */
.cbx-wrapper input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.cbx-wrapper .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cbx-wrapper .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx-wrapper .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx-wrapper .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx-wrapper .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx-wrapper .cbx span:last-child {
    padding-left: 8px;
}

.cbx-wrapper .cbx:hover span:first-child {
    border-color: #506EEC;
}

.cbx-wrapper .inp-cbx:checked+.cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
}

.cbx-wrapper .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.cbx-wrapper .inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}

/* checkboxes */



/* button */
.button {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button {
        padding: 19px 32px;
    }
}

.button:before,
.button:after {
    border-radius: 80px;
}

.button:before {
    background-image: linear-gradient(92.83deg, rgb(21, 197, 185) 0, #31b9eb 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button:after {
    background-color: initial;
    background-image: linear-gradient(#80B3FF 0, #687EFF 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(21, 197, 185) 0%, #31b9eb 100%);
}

.button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.button:active:not(:disabled) {
    color: #ccc;
}



.button:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button:disabled {
    cursor: default;
    opacity: .24;
}

/* button */
